
.indice{
  text-align: end;
  background-color: rgb(166, 166, 166);
  padding: 0.5rem;
  margin: auto;
}
.cuerpo{
  margin-left: 20%;
  margin-right: 20%;
}
footer{
  background-color: rgb(166, 166, 166);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.imagen{
  margin: 1rem;
  max-width: 7rem;
  max-height: 7rem;
}
#img_html{
  max-width: 6rem;
  max-height: 6rem;
  margin-left: 3rem;
}
